
.foto{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 30px; 
}

@media(max-width:600px){
    body{
        background-color: black;
    }
}
@media(min-width:600px){
    body{
        background-color: blue;
    }
}